FHIR_BASE_URL=http://iris:52773/fhir/r4
FHIR_USER=_SYSTEM
FHIR_PASS=SYS
OPENAI_API_KEY=your-openai-api-key-here
LLM_CACHE=sqlite
#LLM_CACHE_DB_PATH=~/.cache/langchain_cache.db
LANGSMITH_API_KEY=your-langsmith-api-key-here
LANGSMITH_PROJECT=triage-aide
LANGSMITH_TRACING=true
